.container {
	max-width: 1000px;
}

.new-zealand {
	max-width: 100%;
}

.sundar {
	max-width: 100%;
}

.contact-me-text {
	text-align: center;
}

.contact-button {
	margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.my-skills {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}